* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.wrapper {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  min-width: 230px;
}
.calculator {
  width: 300px;
  height: 100vh;
  max-height: 500px;
  margin: auto;
  border: 8px solid lightgrey;
  border-radius: 3.4px;
  box-shadow: 0px 0px 2.5px 1.5px grey;
}
button {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2px;
}
.calculator,
.subgrid {
  display: grid;
}
.calculator {
  grid-auto-columns: 1fr;
  grid-template-areas:
  "tot  tot  tot  tot"
  "mod  mod  mod  ope"
  "dig  dig  dig  ope"
  "dig  dig  dig  ope"
  "dig  dig  dig  ope"
  "dig  dig  dig  ope";
}
.show-input {
  grid-area: tot;
  max-height: 300px;
  background-color: olive;
  word-break: break-all;
  text-align: right;
  font-size: 2rem;
  border: 4px inset lightgrey;
  border-radius: 2px;
  margin-bottom: 6px;
}
.modifiers {
  grid-area: mod;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.modifiers button {
  background-color: lightgrey;
}
.operations {
  grid-area: ope;
}
.operations button {
  background-color: orange;
  width: 100%;
}
.digits {
  grid-area: dig;
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(25% + 1px);
  background-color: white;
}
.icon-del {
  vertical-align: sub;
  width: 24px;
  margin-bottom: 2px;
}